<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app SYSTEM "web-app_2_3.dtd">
<web-app version="1.0">
	<servlet>
		<servlet-name>aaa</servlet-name>
		<servlet-class>bbb</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>aaa2</servlet-name>
		<url-pattern>ccc</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>
</web-app>